body{
  background: linear-gradient(#eee, #444);
}
h1{
  text-align: center;
  font-size: 6rem;
  margin-top: 1%;
  margin-bottom: 2%;
}
nav{
  display:flex;
  justify-content: space-evenly;
  background-color: #999;
  padding: 1%;
  margin-bottom: 3%;
}

a{
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #666;
  color: #fff;
  padding: 1% 3% 1% 3%;
  border-radius: 24px;
}
a:hover{
  background-color: #777;
}

#mainPhoto{
  background-color: #777;
  padding: 2%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3%;
}
img{
  box-shadow: 5px 5px;
}
footer{
  background-color: #333;
  display:flex;
  justify-content: center;
}
footer p{
  color: #fff;
  font-size: 1.2rem;
}