body{
  background-image: url("images/Background.JPG");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
h1{
  position: fix;
  top: 5%;
  font-size: 700%;
  color: #fff;
  margin-left: 11%;
  margin-top: 2.5%;
}
#heading{
}

.gradient{
  background-image: linear-gradient(0deg, #000, transparent);
  background-color: rgba(0, 0, 0, 0);
  height: 200px;
  width: 110%;
  margin-left: -1%;
  margin-top: 19%;
}
#main{
  background-color: rgba(0,0,0,1);
  padding-top: 15%;
  margin-left: -1%;
  margin-right: -1%;
}

nav{
  position: fixed;        
  width: 45%;
  margin-left: 54%;
  top: 8%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(153, 153, 153, 0.3);
  padding: 1%;
  border-radius: 33px 5px 0px 33px;
  backdrop-filter: blur(5px); 
}

a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  padding: 1% 3% 1% 3%;
  border-radius: 24px;
}
a:hover{
  color: #999;
  text-decoration: underline;
}
#videoPlayer{
  display: flex;
  justify-content: space-around;
  padding: 0rem 7rem 0rem 7rem;
  gap: 6rem;
  margin-bottom: 3%;
}
#videoPlayer #info h3{
  color: #fff;
  font-size: 3rem;
} 
#videoPlayer #info p{
  font-size: 2rem;
  color: #fff;
}
video{
  width: 50%;
}

footer{
  background-color: #000;
  display:flex;
  justify-content: center;
  margin-bottom: -1%;
}
footer p{
  color: #fff;
  font-size: 1.2rem;
}