body{
  background-image: url("images/Background.JPG");

}
h1{
  text-align: center;
  font-size: 7rem;
  color: #fff;
  margin-top: -62%;
  margin-bottom: 2%;
  float: left;
  margin-left: 11%;
}
#heading{
  margin-top:2%;
  margin-bottom: 70rem;
}
.gradient{
  background-image: linear-gradient(0deg, #000, transparent);
  background-color: rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 100%;
}
#main{
  background-color: rgba(0,0,0,1);
  padding-top: 15%;
  margin-left: -1%;
  margin-right: -1%;
}

nav{
  position: fixed;
  top: 20px;        /* how far from the top */
  left: 45%;        /* this is what pushes it to the right */
  width: 60rem;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(153, 153, 153, 0.3);
  padding: 1%;
  border-radius: 33px 5px 0px 33px;
  backdrop-filter: blur(5px); /* optional */
}

a{
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #666;
  color: #fff;
  padding: 1% 3% 1% 3%;
  border-radius: 24px;
}
a:hover{
  background-color: #777;
}
#videoPlayer{
  display: flex;
  justify-content: space-around;
  padding: 0rem 7rem 0rem 7rem;
  gap: 6rem;
  margin-bottom: 10%;
}
#videoPlayer #info h3{
  color: #fff;
  font-size: 3rem;
} 
#videoPlayer #info p{
  font-size: 2rem;
  color: #fff;
}
video{
  width: 50%;
}

footer{
  background-color: #333;
  display:flex;
  justify-content: center;
  margin-bottom: -1%;
}
footer p{
  color: #fff;
  font-size: 1.2rem;
}