body{
  background: linear-gradient(#eee, #444);
}
#div1{
  display: flex;
  justify-content: center;
  margin: auto;
}
#div2{
  display: flex;
  justify-content: center;
  margin-top: 15rem; 
  margin-bottom: 25.7rem;
}

h1{
  font-size: 4rem;
}
a{
  text-decoration: none;
  font-size: 1.8rem;
  background-color: #666;
  color: #fff;
  padding: 1% 3% 1% 3%;
  border-radius: 24px;
}
a:hover{
  background-color: #777;
}